{% extends 'base.html' %}

{% block contents %}
<body>
{% for blog in blogs.all %}
<br><br>
    <div class="container">
        <div class="card">
                <div class="card-body">
                <h4 class="card-title">{{blog.title}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                <p class="card-text">{{blog.summary}}...<a href= "{% url 'detail' blog.id %}">more</a></p>
            </div>
        </div>
    </div>
{% endfor %}
    
</body>
{% endblock %}